
.auth-form{
    display: flex;
    align-items: center;
    justify-content: center;
}  

/* .vkuiView__panels{
    max-width: 60vw;
}

@media screen and (max-width : 	640px) {
    
    .vkuiView__panels{
        max-width: 90vw !important;
    }
}

@media screen and (max-width : 1024px) {
    
    .vkuiView__panels{
        max-width: 60vw !important;
    }
} */
