.cloud {
  width: calc(var(--index) * 15);
  height: calc(var(--index) * 15);
  cursor: `;
}

.one {
  animation-duration: 15s;
  animation-name: slide-right;
  animation-iteration-count: infinite;
}
.two {
  animation-duration: 15s;
  animation-name: slide-left;
  animation-iteration-count: infinite;
}

@keyframes slide-right {
  from {
    margin-left: calc(var(--index) * 90);
    margin-right: 0;
  }
    30%{
        margin-bottom: 100px;
    }
    50%{
        margin-bottom: 0px;
    }
  to {
    margin-left: 0;
    margin-right: calc(var(--index) * 90);
  }
}

@keyframes slide-left {
  from {
    margin-left: 0;
    margin-right: calc(var(--index) * 90);
  }

  to {
    margin-left: calc(var(--index) * 90);
    margin-right: 0;
  }
}

img {
  width: 100%;
  height: 100%;
}
