.auth{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    padding: 20px;
    gap: 10px;
}  

.login-layout{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container{ 
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}


@media screen and (max-width : 	640px) {
    
    .login-container{
        flex-direction: column-reverse;
    }
}
/* .vkuiView__panels{
    max-width: 60vw;
}



@media screen and (max-width : 1024px) {
    
    .vkuiView__panels{
        max-width: 60vw !important;
    }
} */
