.feed {
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  padding: 0 7vh;
  z-index: 1;

}


.title {
  font-size: calc(var(--index) * 14);
  font-weight: 300;
}
