
.poll-form{
  display: flex;
  min-width: 60vw;
  justify-content: center;
  align-items: center;

}
.poll-form label{
  font-size: var(--index);
}
.vkuiView {
    display: flex;
    max-width: 80vw;
  }
  
  .group-poll {
    display: flex;
  }
  form {
    width: 100%;
    padding: 0 20px 0 0;
  }
  
  .vkuiButton--mode-primary.vkuiButton--appearance-accent {
      background-color: var(--second-col);
  }
  
  .vkuiButton--mode-primary.vkuiButton--appearance-accent.vkuiButton--hover{
      background-color: rgb(44, 44, 44);
      
  }
  
  .vkuiButton--mode-primary.vkuiButton--appearance-accent.vkuiButton--active{
      background-color: rgb(44, 44, 44);
  }

