.create-poll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  min-width: 100vw;
  margin-top: 10vh;
}

.vkuiImageBase{
    background-color: #1c1c1e;
}
.top-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

