.answer{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    width: 100%;
    font-size: calc(var(--index) * 1);

}

#progresslabel{
    font-size: 200px !important;
}

@media screen and (max-width:600px) {
    .answer{
        padding: 10px;
    }
}
