:root {
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: rgb(255, 254, 248);
  background: white;
  --second-col: rgba(212, 23, 54, 0.87);
  --index: 1vh + 1vw;
  --text-color: #fafafa;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  background-image: url("/bg.jpg");
  background-size: 50px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: calc(var(--index) * 1.2);
  line-height: 1.1;
  font-weight: 400;
  color: var(--text-color);
}

a {
  text-decoration: none;
  font-size: calc(var(--index));
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.5s;
}
a:hover {
  color: var(--second-col);
}

p {
  color: var(--text-color);
  font-size: calc(var(--index) * 1.5);
}


img {
  position: absolute;
  width: calc(var(--index) * 55);
  left: 45vw;
  top: 14vh;
  z-index: 0;
}
.vkuiText,
.vkuiParagraph,
.vkuiTitle--level-1,
.vkuiFormItem__top {
  font-size: calc(var(--index) * 1);
  color: black;
  font-weight: 400;
  font-family: "Roboto", sans-serif !important;
  font-family: "Roboto Mono", monospace !important;
}

.vkuiFormItem__top {
  font-size: calc(var(--index) * 0.8);
  text-align: start;
  display: flex;
  padding: 10px 0 10px 0;
}

.vkuiProgress {
  height: 5px;
  width: 100%;
  margin-top: 10px;
}

.vkuiFormItem {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
}

.vkuiCard{
  max-width: calc(var(--index) * 3);
  
}

.vkuiInternalGroup{
  display: flex;
  justify-content: center;
}

.vkuiSeparator__in{
  display: none;
}