:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --second-col: rgba(212, 23, 54, 0.87);
  --index: 1vh + 1vw;
  --text-color: #fafafa;
}

body {
  margin: 0;
  justify-content: center;
  background-image: url("/bg.jpg");
  background-size: 50px;
  min-height: 100vh;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  font-size: calc(var(--index));
  font-weight: 400;
  font-family: "Roboto", sans-serif !important;
  font-family: "Roboto Mono", monospace !important;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.5s;
}
a:hover {
  color: var(--second-col);
}

p {
  color: var(--text-color);
  font-size: calc(var(--index) * 1.5);
}

img {
  position: absolute;
  width: calc(var(--index) * 55);
  left: 45vw;
  top: 14vh;
  z-index: 0;
}
.vkuiText,
.vkuiParagraph,
.vkuiTitle--level-1,
.vkuiTitle--level-2,
.vkuiSubhead,
.vkuiFormItem__top {
  color: black;
  font-weight: 400;
  font-family: "Roboto", sans-serif !important;
  font-family: "Roboto Mono", monospace !important;
}

.vkuiFormItem__top {
  font-size: calc(var(--index) * 0.8);
  text-align: start;
  display: flex;
  padding: 10px 0 10px 0;
}

.vkuiProgress {
  height: 5px;
  width: 100%;
  margin-top: 10px;
}

.vkuiFormItem {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
}

.vkuiCard {
  max-width: calc(var(--index) * 3);
}

.vkuiInternalGroup {
  display: flex;
  justify-content: center;
}

.vkuiSeparator__in {
  display: none;
}


.vkuiTitle--level-1 {
  font-size: calc(var(--index) * 2);
  line-height: 1.1;
  font-weight: 400;
  color: var(--text-color);
  
}

@media screen and (max-width: 900px) {
  .vkuiTitle--level-1  {
  font-size: calc(var(--index) * 3);

  }
}